# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
.idea/
.vscode/
*.iml
.DS_Store

# Android
android/.gradle/
android/local.properties
android/key.properties
